.profile {
  padding-top: 15px;
  margin-top: 40px;
  margin-left: 40px;
  width: 20%;
  text-align: center;
  border: 1px solid #000;
}
.avatar {
  width: 100px;
  margin-bottom: 20px;
}
.tag,
.location {
  color: #666;
}
.stats {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.label,
.quantity {
  display: block;
}
li {
  list-style: none;
  background-color: #666;
  flex-basis: 33.33%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #555;
}
